# Environment variables
# Copy this file to .env.local and fill in your actual values

# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url #can be found in supabase project settings, Data API
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key#can be found in supabase project settings, API Keys

# OpenRouter (for AI features)
OPENROUTER_API_KEY=your_openrouter_api_key
